﻿@model ArtistSearch.Models.ArtistDetails
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ArtistSearch</h1>
    <p class="lead">Search for any artist to get statistics on their songs.</p>
</div>

<div class="row">
    <div class="container-fluid">
        <h2>Search Artist</h2>
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "Search" }))
            {
                @Html.TextBoxFor(m => m.Artist)


                <h4>Slow Mode</h4>@Html.CheckBoxFor(m => m.SlowMode)

                <input type="submit" value="Submit" />
            }

            <h4>if you are getting a 503 error you may need select slow mode</h4>
    </div>
    <div class="container-fluid">
        <h2>Results</h2>
        @Html.DisplayFor(m => m.Artist)
        <p>Total Songs found</p>
        @Html.DisplayFor(m => m.Total)
        <p>Average words per song - </p>
        @Html.DisplayFor(m => m.AverageWords)
        <p>Minimum words in their songs - </p>
        @Html.DisplayFor(m => m.MinWords)
        <p>Maximum words in their songs - </p>
        @Html.DisplayFor(m => m.MaxWords)

    </div>

</div>